/* src/App.css */


.app-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    
  }
  
  h1 {
    margin: 0;
    font-size: 2em;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  

.menu-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px; 
  }
  
.total-box {
    background-color: #f8d7da; 
    border: 1px solid #f5c2c7; 
    padding: 10px;
    border-radius: 5px;
    color: #842029; 
    max-width: 250px; 
    margin: 0 right; 
  }
  
.app {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: white; 
  color: black; 

  }
  
  .dark-mode {
    background-color: #333;
    color: white;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .order-summary {
    margin-top: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  button:hover {
    cursor: pointer;
  }
  